body {
    font-family: Arial;
    margin: 20px;
    background: #f4f4f4;
}

video {
    width: 400px;
    background: black;
    border-radius: 10px;
}

.videos {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px;
    margin-top: 10px;
}

#users {
    margin-top: 20px;
}

.user {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}